/* 속성에 해당하는 값이 여러개 일 경우 ... 붙여야해

스타일 우선순위가 밀리는 경우
1)선택자에서 부모를 추가 3자리 특별성 숫자를 키워주던가
2)!important; =>남발하지 않는다
*/

@mixin bgsize($value...) {
  -webkit-background-size: $value !important;
  -moz-background-size: $value !important;
  background-size: $value !important;
}

@mixin translateX-50 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin translateY-50 {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin translate-50 {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin radius($value...) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin ellipse {
  display: block;
  white-space: nowrap; //줄바꿈 억제
  overflow: hidden; //줄바꿈 억제해서 길어서 넘어가는 거 숨기기
  text-overflow: ellipsis;
}

@mixin multiEllipse($line, $maxHeight) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  max-height: $maxHeight;
  white-space: normal; //줄바꿈 억제
  overflow: hidden; //줄바꿈 억제해서 길어서 넘어가는 거 숨기기
  text-overflow: ellipsis;
}
